# Node modules
node_modules/

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/

# Dependency directories
/dist/
/out/
/build/

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory
coverage/

# OS-specific files
.DS_Store
Thumbs.db
